<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <style>
        .container { width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border: 1px solid #ddd; }
        .header { background-color: #007bff; color: white; padding: 10px; text-align: center; }
        .content { padding: 20px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Registration</h1>
        </div>

        <div class="content">
            <h2>Thank you for registering</h2>
            <p>This is your registration link: </p>
            <a href="{{redirect_url}}">Registration Form</a>
            <p>This link will expire in 10 minutes.</p>
        </div>
    </div>
</body>
</html>